.bg-white {
	background: #fff; 
}
.bg-red {
	background: $red-500; 
}
.bg-deep-purple {
	background: $deep-purple-500; 
}
.bg-purple {
	background: $purple-500; 
}
.bg-orange {
	background: $orange-500; 
}
.bg-transparent {
	background: transparent; 
}
.bg-primary-light {
	background: lighten($brand-primary, 53%); 
}
.bg-faded {
	background-color: $body-bg;
}