.navbar .form-inline {
	line-height: $navbar-height;
	margin-right: $grid-gutter-width;
	margin-top: -1px;
	.input-group {
		line-height: 0;
		border-right-color: transparent;
		position: relative;
		.form-control {
			z-index: 1040;
			padding-right: 50px;
			border-radius: 5px;
			border-color: transparent;
		}
		.input-group-btn {
			position: absolute;
			right: 0;
			z-index: 1041;
			.btn {
				background: transparent;
				&:hover,
				&:active,
				&:focus {
					outline: none;
				}
				padding-right: 8px;
			}
		}
	}
}