.navbar-nav {
	margin-right: $grid-gutter-width;
	
	.nav-link {
		padding-top: 0;
		padding-bottom: 0;
	}

	.dropdown-menu {
		i.material-icons {
			color: $gray-light;
			margin-right: 3px;
		}
	}
}

// COLLAPSING MENU
@include media-breakpoint-down(sm) {
	.navbar-toggleable-xs {
		display: none !important;
		position: fixed;
		top: $navbar-height;
		left: 0;
		right: 0;

		&.collapse.in,
		&.collapsing {
			display: block !important;
		}

		> .navbar-nav {
			clear: both;
			padding: 15px;
			display: block;
			width: 100%;
			line-height: 34px;
			.nav-item {
				float: none;
				display: block;
				margin-left: 0;
			}
		}
	}
}