// Material Icons
.material-icons, 
.icon-text {
	vertical-align: middle;
}

// Sizing
.material-icons.md-18 {
	font-size: 18px;
}
.material-icons.md-24 {
	font-size: 24px;
}
.material-icons.md-36 {
	font-size: 36px;
}
.material-icons.md-48 {
	font-size: 48px;
}

// Dark icon over light background
.material-icons.md-dark {
	color: rgba(0, 0, 0, 0.54);
	&.md-inactive {
		color: rgba(0, 0, 0, 0.26);
	}
}

// Light icon over dark background
.material-icons.md-light {
	color: rgba(255, 255, 255, 1);
	&.md-inactive {
		color: rgba(255, 255, 255, 0.3);
	}
}