@import 'functions/strip-unit';

body {
	position: relative;
}

.page-heading {
	padding: $grid-gutter-width 0;
}

.content-wrapper, 
.content-wrapper > .container-fluid,
div.page-heading {
	position: relative;
	overflow: hidden;
}

a.text-muted:hover {
	color: $brand-primary;
	text-decoration: none;
}

blockquote {
	border-left: 2px solid #efefef;
	padding-left: 10px;
	font-size: .9rem;
}