///////////////////////////////////
// MATERIAL DESIGN COLOR PALETTE //
///////////////////////////////////

@import '../../node_modules/sass-md-colors/colors/variables';

//////////////////////
// CUSTOM VARIABLES //
//////////////////////

$body-bg:						rgba(0, 0, 0, 0.05) !default;
$font-family-base:				Roboto, 'Helvetica Neue', Arial, Helvetica, sans-serif !default;

$grid-gutter-width:				1.25rem !default;
$headings-font-weight:			400 !default;

$brand-primary:					$light-blue-600 !default;
$brand-secondary:				#283593 !default;
$brand-warning:					#FF9800 !default;
$brand-info:					#00BCD4 !default;
$brand-success:					$green-600 !default;
$brand-danger:					$red-600 !default;

$btn-secondary-color:			#fff !default;
$btn-secondary-bg:				$brand-secondary !default;
$btn-secondary-border:			$brand-secondary !default;

$card-border-radius:			3px !default;
$breadcrumb-active-color:		rgba(0, 0, 0, 0.54) !default;
$breadcrumb-divider:			'>' !default;
$breadcrumb-divider-color:		rgba(0, 0, 0, 0.24) !default;
$breadcrumb-bg:					transparent !default;

$state-success-bg:				lighten($brand-success, 43%) !default;
$state-info-bg:					lighten($brand-info, 54%) !default;
$state-warning-bg:				lighten($brand-warning, 43%) !default;
$state-danger-bg:				lighten($brand-danger, 40%) !default;

$sidebar-width:					250px !default;

$progress-bar-bg:				$brand-primary !default;

$list-group-border-radius:		0 !default;
$btn-border-radius:				0 !default;

$navbar-height:					56px !default;
$navbar-line-height:			54px !default;
$navbar-padding-vertical:		0 !default;
$navbar-padding-horizontal:		0 !default;

$border-color:					#e5e5e5 !default;

$progress-bar-success-bg:		$brand-success !default;
$dropdown-border-color:			$border-color !default;

$pagination-disabled-bg:		#efefef !default;

$sidebar-light-link-color:		$brand-primary !default;
$sidebar-dark-link-color:		#fff !default;

/////////////////////////////////
// DEFAULT BOOTSTRAP VARIABLES //
/////////////////////////////////

@import '../../node_modules/bootstrap/scss/variables';