.marked {
	pre {
		background: rgba(0, 0, 0, 0.05);
		padding: 10px;
	}
	blockquote {
		color: #888;
	}
	h2 {
		margin-top: 30px;
	}
	h3 {
		color: #555;
		font-weight: normal;
		font-size: 1.5rem;
	}
	img {
		max-width: 100%;
	}
	.card-block {
		position: relative;
		overflow: hidden;
	}
}
@media (min-width: 768px) {
	.main-container {
		margin-left: auto;
		margin-right: auto;
		max-width: 800px;
	}
}