// NAVBAR LIGHT
.navbar-light {
	.form-inline .input-group {
		border-right-color: transparent;
		.form-control {
			background: rgba(0, 0, 0, .05);
			border-color: transparent;
			&::placeholder {
				color: rgba(0, 0, 0, .5);
			}
			&:focus {
				background: #fff;
				border:1px solid $brand-primary;
			}
		}
		.input-group-btn .btn {
			background: transparent;
			color: rgba(0, 0, 0, .5);
			&:hover,
			&:active,
			&:focus {
				color: $brand-primary;
				outline: none;
			}
			i.material-icons {
				position: relative;
			}
		}
	}
	.navbar-toggleable-xs {
		background: #fff;
	}
}