// NAVBAR DARK (colored)
.navbar-dark {
	.form-inline {
		.form-control {
			background: rgba(0, 0, 0, .2);
			color: rgba(255, 255, 255, .5);
			border-color: rgba(0, 0, 0, .05);
			&::placeholder {
				color: rgba(255, 255, 255, .5);
			}
			&:focus {
				background: #fff;
				color: rgba(0, 0, 0, .84);
				&::placeholder {
					color: rgba(0, 0, 0, .84);
				}
			}
		}
		.form-control:focus + .input-group-btn .btn { 
			color: rgba(0,0,0, .24);
			&:hover {
				color: rgba(0,0,0, .84);
			}
		}
		.input-group-btn .btn {
			background: transparent;
			color: rgba(255, 255, 255, .4);
			&:hover,
			&:active,
			&:focus {
				color: #fff;
			}
		}
	}
	.navbar-toggleable-xs {
		background: $brand-primary;
	}
}