// SIDEBAR BRAND
.sidebar-brand {
  display: block;
  width: 100%;
  height: $navbar-height;
  line-height: $navbar-height;
  padding: $sidebar-brand-padding;
  font-weight: $sidebar-brand-weight;
  font-size: $sidebar-brand-size;
  &:hover { 
    cursor: pointer;  
    text-decoration: none;
  }
  i.material-icons {
    margin-top: -3px;
  }
}