// SIDEBAR BRAND
.sidebar-brand {
  display: block;
  width: 100%;
  height: $navbar-height;
  line-height: $navbar-height;
  padding: 0 $sidebar-padding;
  font-weight: $sidebar-brand-weight;
  font-size: $sidebar-brand-size;
  &:hover { 
    cursor: pointer;
    text-decoration: none;
  }
}