// SIDEBAR BASE
.sidebar {
  position: fixed;
  display: none;
  z-index: 1032;
  top: 0;
  bottom: 0;
  overflow: auto;
  width: $sidebar-width;
  font-size: $sidebar-font-size;
  @include media-breakpoint-up(md) {
    &.top-md-navbar { top: 56px; }
    .nav { top: 70px; }
    .sidebar-footer {
      position: absolute;
      bottom: 0;
    }
  }
  &-demo {
    position: relative;
    display:block;
    z-index:1;
  }
}

// SIDEBAR TRANSITION
.sidebar-transition {
  display: block;
  transition-duration: .45s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

// SIDEBAR LEFT BASE
.sidebar.sidebar-left {
  left: 0;
  &.sidebar-transition {
    left: -$sidebar-width;
    transition-property: left;
  } 
  &.visible { 
    display: block; 
    &.sidebar-transition {
      left: 0;
    }
  }
}

// SIDEBAR RIGHT BASE
.sidebar.sidebar-right {
  right: 0;
  &.sidebar-transition {
    right: -$sidebar-width;
    transition-property: right;
  } 
  &.visible { 
    display: block; 
    &.sidebar-transition {
      right: 0;
    }
  }
}

// LAYOUT FIXES 
@include media-breakpoint-up(md) {
  body {
    .sidebar.sidebar-left + .content-wrapper {
      margin-left: $sidebar-width;
    }
    .sidebar-left + .sidebar-right + .content-wrapper {
      margin-right: $sidebar-width;
      margin-left: $sidebar-width;
    }
  }
}