// SIDEBAR HEADER
.sidebar-header { 
  text-transform: uppercase;
  padding: $sidebar-heading-padding;
  line-height: $sidebar-heading-line-height;
  font-weight: $sidebar-heading-weight;
  font-size: $sidebar-heading-size;
}