// SIDEBAR MENU 
.sidebar .nav {
  .nav-item a {
    padding: 0 $sidebar-padding;
    line-height: $sidebar-link-height;
    display: block;
    i {
      font-size: $sidebar-link-icon-size;
      width: $sidebar-link-icon-width;
      margin-right: $sidebar-link-icon-margin-r;
      text-align: center;
      &.material-icons {
        position: relative;
        top: -1px;
      }
    }
    .label {
      float:right; 
      margin-top: $sidebar-link-label-margin-t;
    }
    &:hover { text-decoration: none }
  }
}

// SIDEBAR SUBMENU
.sidebar .nav-item {
  ul {
    display: none;
    list-style: none;
    padding: 0;
  }
  &.open ul {
    display: block;
  }
}

// SIDEBAR MENU ITEM CARET
.sidebar .nav-item {
  &.open a:not(:only-child):before {
    content: $sidebar-link-caret-open;
  }
  a:not(:only-child) {
    padding-right: $sidebar-link-caret-spacing !important; 
  }
  a:not(:only-child):before {
    font-family: 'Material Icons';
    font-size: $sidebar-link-caret-size;
    content: $sidebar-link-caret;
    position: absolute;
    right: $sidebar-link-caret-margin-r;
    margin-top: 2px;
  }
}

// SIDEBAR MENU ITEM HEADING
.sidebar .nav-item.nav-heading {
  padding: 16px;
  font-size: 14px;
  font-weight: 500;
}