.dropdown-menu {
  .nav-item & {
    border-radius: 0;
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
  }
  &.dropdown-menu-list {
    padding: 0;
    font-size: .95rem;
    .dropdown-item {
      padding: .625rem 1.25rem;
      border-bottom:1px solid $border-color;
      &:last-of-type {
        border-bottom-color: transparent;
      }
      i { 
        margin-left: -4px; 
      }
      &.active i {
        color: #fff;
      }
    }
  }
}