
// DROPDOWN IN NAVBAR
.dropdown-menu {
  .nav-item & {
    border-radius: 0;  
    border:0;

    box-shadow: 0 2px 4px rgba(0,0,0, .12);
  }
  &.notifications {
    min-width: 280px;
    padding: 6px 12px;
    > .dropdown-title {
      padding: 5px 0 10px;
      line-height: 1.5rem;
      font-size: 1.1rem;
      color:$brand-primary;
    }
    .dropdown-action {
      line-height: 1rem;
    }

    > .dropdown-item {
      padding: 16px 8px;
      line-height: 1.2;
      border: 1px solid $border-color;
      border-radius: 5px;
      margin-bottom: 6px;
      &:hover {
        border-color: $gray-lighter;
        background: rgba(0,0,0, .05);
      }
    }
    @include media-breakpoint-down(md) {
      min-width: 220px;
      .dropdown-item small {
        display: block;
      }
    }
  }
  &.dropdown-menu-list {
    padding: 0px;
    font-size: .95rem;
    .dropdown-item {
      padding: .625rem 1.25rem;
      border-bottom:1px solid $border-color;
      &:last-of-type {
        border-bottom-color:transparent;
      }
      i { margin-left:-4px; }
      &.active i {
        color: #fff; 
      }
    }
  }
}