.navbar-toggler {
	outline: none;
	line-height: $navbar-height;
	padding: 0 $grid-gutter-width; 
	
	.material-icons {
		vertical-align: top;
		line-height: $navbar-height - 2;
	}

	&:first-child {
		margin-left: 0;
	}

	// FIRST CHILD, LAST CHILD BREAKPOINTS
	@each $breakpoint in map-keys($grid-breakpoints) {
		@include media-breakpoint-up($breakpoint) {
			&.first-child-#{$breakpoint} {
				padding-left: 0;	
			}
			&.last-child-#{$breakpoint} {
				padding-right: 0;
			}
		}
	}
}