.sidebar-light {
	color: $sidebar-light-color;
	background: $sidebar-light-bg;

	p { color: $sidebar-light-p-color; }

	&.sidebar-left { border-right: $sidebar-light-border; }
	&.sidebar-right { border-left: $sidebar-light-border; }

	// BRAND
	.sidebar-brand {
		background: $sidebar-light-brand-bg;
		color:  $sidebar-light-brand-color;
		border-bottom: $sidebar-light-brand-border-b;
	}
	
	// HEADER	
	.sidebar-header { color: $sidebar-light-header-color; }

	// MENU
	.nav {
		border-bottom: $sidebar-light-nav-border-b;
		// MENU ITEM
		.nav-item {
			// MENU ITEM STYLING
			> a {
				color: $sidebar-light-link-color;
				&:hover {
					color: $sidebar-light-link-hover-color;
					background: $sidebar-light-link-hover-bg; 
				}
				&.disabled { color: $sidebar-light-link-disabled-color;}

				// ICON
				i { color: $sidebar-light-link-icon-color; }
				&:hover i { color: $sidebar-light-link-hover-icon-color; }

				// LABEL
				.label-default {
					background: $sidebar-light-label-bg;
					color: $sidebar-light-label-color;
				}
			}
			
			// OPEN
			&.open {
				background: $sidebar-light-open-bg;
				border-top: 1px solid rgba(0,0,0, 0.05);
				
				a { 
					color: $sidebar-light-open-link-color; 
					&:hover { 
						color: $sidebar-light-open-link-hover-color; 
						background: $sidebar-light-open-link-hover-bg; 
					}
				}

				// DIRECT LINK
				> a {
					color: $sidebar-light-open-direct-link-color; 
					&:hover { background: none; }
				}
			}
			
			// ACTIVE 
			&.active, 
			> .active {
				background: $sidebar-light-link-active-bg;
				a, 
				a i { 
					color: $sidebar-light-link-active-color; 
				}
			}
			&.open .active {
				background: $sidebar-light-link-open-active-bg;
				a, 
				a i { 
					color: $sidebar-light-open-link-active-color;
				}
			}
			
			// CARET COLOR
			a:not(:only-child):before { color: $sidebar-light-caret-color; }
			// CARET COLOR OPEN
			&.open a:not(:only-child):before { color: $sidebar-light-caret-open-color; }
		}
	}
}