.sidebar-dark {
	color: rgba(255, 255, 255, 0.54) !important; 
	> p {
		color: #ffffff;
	}
	.sidebar-brand {
		background: rgba(0, 0, 0, .12); 
		color: #fff;
		border-bottom:1px solid rgba(0,0,0, 0.05);
	}
	.nav {
		border-bottom: 1px solid rgba(0,0,0, 0.05);
		.nav-item a:not(:only-child):before {
			color: rgba(255, 255, 255, .54);
		}
		.nav-item.open a:not(:only-child):before {
			color: $sidebar-dark-link-color;
		}
		.nav-item.nav-heading { color: rgba(255,255,255, .24); }
		a .label {
			background: rgba(0,0,0, .3);
			color: #fff;
		}
	}
	.nav-item {
		&.open {
			background: rgba(0,0,0,.04);
			a { color: rgba(255, 255, 255, .54); }
			> a:hover { background: none; }
			border-top:1px solid rgba(0,0,0, 0.05);
		}

		&.active, 
		> .active {
			background: rgba(255,255,255, .12);
			a, 
			a i { 
				color: $sidebar-dark-link-color; 
			}
		}
		&.open > .active {
			background: rgba(255,255,255, .12);
			a, 
			a i { 
				color: $sidebar-dark-link-color; 
			}
		}
		a {
			color: #ffffff;
			i { color: rgba(255, 255, 255, .54); }
			&.disabled { color: rgba(255,255,255, .24); }
			&:hover { background: rgba(255,255,255, .12); }
		}
		@include media-breakpoint-up(md) {
			&.active a, > .active a { background: transparent; }
		}
	}
}