.sidebar-light {
	&.sidebar-left { 
		border-right: 1px solid $border-color; 
	}
	&.sidebar-right { 
		border-left: 1px solid $border-color; 
	}
	.sidebar-brand {
		border-bottom: 1px solid $border-color;
		color: $brand-primary;
	}
	.nav {
		border-bottom:1px solid rgba(0,0,0, 0.05); 
		.nav-item a:not(:only-child):before {
			color: $gray-light;  
		}
		.nav-item.open a:not(:only-child):before {
			color: $sidebar-light-link-color;  
		}
		.nav-item.nav-heading { color: $text-muted; }
	}
	.nav-item {
		&.open {
			background: rgba(0,0,0,.04);
			border-top:1px solid rgba(0,0,0, 0.05);
			border-bottom:1px solid rgba(0,0,0, 0.05);
		}
		&.active, 
		> .active,
		&.active:hover {
			background: rgba(0,0,0, .03);
			a, 
			a i { 
				color: $sidebar-light-link-color; 
			}
		}
		&.open > .active {
			background: rgba(0,0,0, .03);
			a, 
			a i { color: $sidebar-light-link-color; }
		}
		a {
			color: $text-muted;
			&.disabled { color: $gray-light; }
			&:hover {
				color: rgba(0,0,0, .84);
				background: rgba(0, 0, 0, .03);
			}
		}
		@include media-breakpoint-up(md) {
		  &.active a, > .active a { background: transparent; }
		}
  	}
	.sidebar-header {
		color: rgba(0,0,0, .54);
	} 
}